@font-face {
    font-family: fpl;
    src: url("../font/FuturaPTLight.otf") format("opentype");
}
@font-face {
    font-family: fpm;
    src: url("../font/FuturaPTMedium.otf") format("opentype");
}
@font-face {
    font-family: fpd;
    src: url("../font/FuturaPTDemi.otf") format("opentype");
}
@font-face {
    font-family: fpc;
    src: url("../font/FuturaPTCondMedium.otf") format("opentype");
}
body {
	font-family: 'fpl', sans-serif;
	overflow-x: hidden;
}
#navtop .visible-xs a:first-child {
	padding-right: 20px
}
#navtop .visible-xs a:last-child {
	border-left: 1px solid #333;
	padding-left: 20px;
 }
#navtop .visible-xs {
		display: inline-block;
		font-family: 'fpm', sans-serif;
		width: 15%;
 		padding-top: 20px;
 		font-size: 14px
}

.allcontain {
	max-width: 100%;
	padding-left: 65px;
	padding-right: 65px
}
.header {
	background: #fff
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

#navtop {
	padding-left: 65px;
	padding-right: 65px;
	min-height: 120px
}
.navbar-collapse {
	/*padding-left: 0px;
	padding-right: 0px*/
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-collapse .navbar-nav > li:first-child > a {
	padding-left: 0px
}
.navbar-brand {
	font-family: 'fpm', sans-serif;
	font-size: 16px;
}
.navbar-collapse .navbar-nav > li> a {
	font-family: 'fpl', sans-serif;
	font-size: 14px;
	color: #333
}
.navbar-brand {
	font-size: 22px;
	font-weight:900;
	margin-top: 0px;
	padding-top: 15px
}
.navbar-brand img {
	display: inline-block;
	padding: 5px;
	padding-top: 0px
}
.navbar-toggle {
    z-index:3;
}
.navbar-collapse .navbar-nav.navbar-right li a {
	font-size: 14px;
	font-weight: 700;

}
.navtitle {
	font-family: 'Italianno', cursive;
	font-weight: 100;
	padding-top: 15px;
	padding-bottom: 30px;
	color: #333
}


#lastproject {
	background: #e7e7e7;
	padding-bottom: 5vh
}
#lastproject img {
	padding: 20%;
	padding-bottom: 0px
}
#lastproject p {
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    color: grey;
}
.footer .navbar-nav {
  width: 100%;
  text-align: center;
}
.footer .navbar-nav > li {
  float: none;
  display: inline-block;
}
#footernav {
	margin-bottom: 0px
}


/*//////about///////*/
#abouttop,
#aluminumtop,
#a1 {
	margin-top: 90px
}
#abouttop h3,
#aluminumtop h3 {
	text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
	line-height: 100px;
	font-weight: 200;
	text-transform: uppercase;
}
#aluminumtop h3 {
	border-bottom: 0px solid #e9e9e9
}
#abouttop img,
#aboutfocusimg img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#aboutfocus {
	text-align: center;
}
.aboutfocusinside {
	padding: 30px;
	background: #e9e9e9
}
.aboutfocusinside p {
	width: 80%;
	font-size: 20px;
	padding-left: 20%;
	text-align: left;
}
#aboutmain .flex {
	justify-content: center;
	align-items: center
}
#aboutmain .firstrow .colborder2  {
	margin-bottom: 60px
} 
#aboutmain .feturedsection h1 {
	line-height: 100px;
	padding-top: 50px
}
#aboutmain .costumrow {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
#aboutmain .featurecontant {
	height: 80%;
	min-height: 80%
}
#aboutmain .featurecontant div {
	padding: 30px
}
#aboutmain .featurecontant div p {
	font-size: 20px;
}
#aluminumtop {
	min-height: 82vh
}
#aluminumtop .btn {
	font-family: 'fpl', sans-serif;
	font-size: 16px;
	border: 0px;
	text-transform: uppercase;
}
#aluminumtop .btn:hover {
	background: #fff;
}
#aluminumtop .container  {
	padding-top: 20px
}
#aluminumtop .tab-content .row {
	background: #e9e9e9;
	margin-right: 5vw
}
#aluminumtop .tab-content .row a div {
	padding: 80px 30px
}
#aluminumtop .tab-content .row a div img {
	width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 40px 60px
}
#aluminumtop .tab-content .row a div {
	text-align: center;
}
#aluminumtop .tab-content .row a div h4 {
	line-height: 80px;
	text-align: center;
}
.productinside {
	padding: 30px 60px;
	font-size: 20px;
	position: fixed;
	z-index: 101;
	background: #fff;
	right: 0
}
#a1 .img2colon img,
.slideimg img {
  width:100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#a1 .firstrow > div {
	margin-bottom: 50px
}
#a1 .costumrow {
	border-bottom: 0px;
	border-top: 0px;
	border: 0px
}
.stick1 .featurecontant {
	padding: 10px 20px
}
.stick1 .featurecontant p {
	font-size: 18px
}
.stick1 .featurecontant > div > p > span:first-child {
	width: 120px;
	display: inline-block;
	padding-left: 15px;
}
.stick1 .featurecontant > div > p > span:last-child {
	padding-left: 20px;
}
/*////products -pages ///*/
#aluminumtop .well {
	background-color: #fff;
	border: 0px;
}
#aluminumtop .nav-pills > li,
#aluminumtop .nav-pills > li > a, 
#aluminumtop .nav-pills > li > a:hover, 
#aluminumtop .nav-pills > li > a:focus {
	border: 0px
}
#aluminumtop .nav-pills > li.active,
#aluminumtop .nav-pills > li.active > a, 
#aluminumtop .nav-pills > li.active > a:hover, 
#aluminumtop .nav-pills > li.active > a:focus {
	background-color: #fff;
	color: #e52939;
	border: 0px
}
 
#aluminumtop .nav-pills > li.active > a:after, 
#aluminumtop .nav-pills > li.active > a:hover:after, 
#aluminumtop .nav-pills > li.active > a:focus:after	{
    opacity: 1;
}
 
#aluminumtop .nav-pills > li > a:after, 
#aluminumtop .nav-pills > li > a:hover:after, 
#aluminumtop .nav-pills > li > a:focus:after	{
	transition: opacity .3s linear;
    color: #e52939;
    content: ' •';
    opacity: 0;
}
#aluminumtop .nav-tabs > li > a {
	color: #333;
	text-transform: uppercase;
} 
#readmore>h1,
#readmore2>h1,
#readmore3>h1,
#readmore4>h1 {
	padding-top:0px
}
/*////contact pages////*/
.flex {
 
}

#map {
	height: 78vh;
}

#map-outer {
	margin-top: 130px
}
#map-outer address {
	font-size: 18px;
	padding-top: 20px
}
#map-outer address strong {
	line-height: 2
}
#trackimg img {
	 width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#tc {
	margin-top: 16vh;
	height: 77vh
}
#form-login {
	padding-right: 40px
}
#form-login input {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	padding: 0 10px
}
#res {
	margin-top: 40px
}
#featuresection .img2colon img,
#featuresection .img1colon img {
	padding: 12px;
}
.featurecontant {
	margin-top: 12px
}
#featuresection .costumcol .costumrow {
	display: flex
}
#readmore2,
#readmore,
#readmore3,
#readmore4 {
	margin-top: 25px
}




















@media (min-width: 1025px) and (max-width: 1680px){ 

#readmore4,
#readmore3,
#readmore,
#readmore2{
	max-width: 83%;
	margin-top: 20px
}
#btnRL, #btnRL2, #btnRL3, #btnRL4 {
	bottom:0px
}
.featurecontant {
	margin-top: 0%;
	height: 96%
}
.costumrow {
	display: flex
}
#featuresection .img2colon img,
#featuresection .img1colon img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  padding: 15px
}
.txt1colon {
	padding-top: 15px;
}
#featuresection .img1colon>img {
 
}

}








@media only screen and (min-width: 768px) and (max-width: 1365px){
.productinside {
	padding: 10px 80px 0px 20px;
	font-size: 18px;
}
.productinside h1,
.stick1 h1 {
	font-size: 20px;
	margin-top: 10px;
	font-weight: 300
}
#a1 .slideimg img {
	display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}
#a1 .stick1 .featurecontant > div  p   span {
	padding-left: 0px
}
#a1 .colborder2 .costumrow {
	display: flex
}
#a1 .stick1 .featurecontant {
	padding-top: 0px;
	margin-top: 0px
}
.productinside {
	position: relative;
}
.productinside h1 {
	margin-top: 20px
} 
#featuresection .costumcol .costumrow {
	display: flex
}
.featurecontant>h1 {
	margin-top: 8%;
	font-size: 16px
}
.featurecontant {
	height: 94%
}
#featuresection #readmore4,
#featuresection #readmore3,
#featuresection #readmore,
#featuresection #readmore2 {
	margin-top: 16px;
}
#readmore2>button,
#readmore>button,
#readmore3>button,
#readmore4>button,
.featurecontant>button {
	font-size: 13px;
	padding-top: 12px;
	padding-bottom:12px;
}
#readmore2>h1,
#readmore4>h1,
#readmore3>h1,
#readmore>h1 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px
}
#readmore>p {
	margin-bottom: 0px
}
#featuresection #btnRL, #featuresection #btnRL2, #featuresection #btnRL3, #featuresection #btnRL4 {
	bottom: 15px
}
.navbar-brand {
	margin-left: 15vw
}
 
#readmore>button,
#readmore2>button,
#readmore3>button,
#readmore4>button {
	margin-bottom: 0px
}
#btnRL, #btnRL2, #btnRL3, #btnRL4 {
	bottom: 0px
}
}

@media screen and (max-width: 767px){
#navtop li.active a {
	padding-left: 15px
}
#navtop  .navbar-brand {
	margin-top: -40px
}

/*/// Track Form ///*/
#res {
	margin-top: 80px
}

/* Force table to not be like tables anymore */
  #res table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  #res thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
 #res tr { 
  border: 1px solid #ccc; 
  margin-top: 0vh;
  padding-bottom: 0vh;
}
  
 #res td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    line-height: 2;
    text-align: left
  }
  
 #res td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  #ajaxresponse {
  	width: 
  }
   #res td:nth-of-type(1):before
    { 
    content: "AG PO#";  
    font-size:1.2em; 
    font-weight: 700; 
    text-align: left;
    padding-left: 8px;
  }
  #res td:nth-of-type(2):before { 
    content: "SINOBEC PO#"; 
    font-size:1.2em; 
    font-weight: 700; 
    text-align: left ;
    padding-left: 8px;
  }
  #res td:nth-of-type(3):before { 
    content: "INVOICE#"; 
    font-size:1.2em; 
    font-weight: 700; 
    text-align: left ;
    padding-left: 8px;
  }
  #res td:nth-of-type(4):before { 
    content: "SHIPPING Ref";  
    font-size:1.2em; 
    font-weight: 700; 
    text-align: left;
    padding-left: 8px;
  }
  #res td:nth-of-type(5):before { 
    content: "CONTAINER#"; 
    font-size:1.2em; 
    font-weight: 700;
    text-align: left ;
    padding-left: 8px;
  }
  #res td:nth-of-type(6):before { 
    content: "ETA";  
    font-size:1.2em; 
    font-weight: 700; 
    text-align: left;
    padding-left: 8px;
  }
 

@media screen and (min-width: 320px) and (max-width: 766px){
#navtop .navbar-brand{
	font-size: 16px;
}
#navtop .visible-xs {
	width: 30%
}
#navtop {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 90px;
}
.allcontain {
	padding-left: 15px;
	padding-right: 15px
}
#navtop .navbar-toggle {
	margin-right: 0px
}
#abouttop h3 {
	font-size: 20px;
	line-height: 1.2
}
#carousel-up {
	margin-top: 120px
}
#lastproject img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%
}
#readmore>h1,
#readmore2>h1,
#readmore3>h1,
#readmore4>h1 {
	padding-top:0px
}

#navtop .navbar-collapse {
	background: #e7e7e7;
	background-color: #e7e7e7;
	padding-top: 10px
}
.carousel-caption > h2 {
	font-size: 28px
}
#aboutmain h1 {
	font-size: 20px
}
.carousel-caption>p {
	font-size: 18px
}
.featurecontant>p {
	font-size: 14px
}
#aboutmain .featurecontant div p {
    font-size: 16px;
}
.aboutfocusinside p {
    width: 100%;
    font-size: 16px;
    padding-left: 0%;
    text-align: left;
}
#aboutmain .feturedsection h1 {
    line-height: 40px;
    padding-top: 20px;
}
#aluminumtop h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.5
}
#aluminumtop .tab-content .row a div {
	padding-top: 0px
}
#aluminumtop .tab-content .row a div {
    padding: 0px 30px;
}
#aluminumtop .tab-content .row a div h4 {
    line-height: 10px;
    text-align: center;
    padding-bottom: 40px
}
#aluminumtop .tab-content .row a div img {
    padding: 20px 40px;
}
.productinside {
	position: relative;
}
#a1 .productinside {
	padding: 0px 20px 0px 20px
}
#a1 .productinside h1 {
	font-size: 20px
}
#a1 .stick1 .featurecontant > div  p  span {
	padding-left: 0px
}
#a1 .stick1 h1 {
	font-size: 20px
}
#a1 #topimg   {
	 margin-top: 40px
}
#a1 .firstrow > div.colborder2:nth-child(1) {
	margin-bottom: 10px
}
#a1 .costumcol {
	max-width: 98%
}
#botnav .copyright {
	display: none;
}
#footn {
	text-align: center;
	clear: both;
	margin: 20px auto;
}
#footn ul {
	text-align: center;
}
#footn li {
	float: left;
	list-style: none;
	margin-right: 15px;
}
#footn li a {
	font-family: 'fpm', sans-serif;
	color: #c59e47
}
#footn li a:first-child {
	margin-left: -5px
}
.footer .social a {
	line-height: 20px
}
#botnav .navbar-nav {
	line-height: 20px
}
#tmp {
	display: none
}
#map {
	margin-top: 40px
}
#featuresection .costumcol {
	max-width: 98%
}
#featuresection .img2colon,
#featuresection .img2colon2,
#featuresection .img1colon {
	width: 100%;
	max-width: 100%
}
 
#featuresection .txt1colon {
	width: 100%
}

#readmore4,
#readmore3,
#readmore,
#readmore2 {
	max-width: 98%
}
#cntd {
	padding-top: 40px
}
#tc {
	margin-top: 120px
}
#tc h1 {
font-size: 28px
}
#res {
	margin-top: 80px
}
  #ajaxresponse {
  	width:  
  }
/* Force table to not be like tables anymore */
  #res table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  #res thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
 #res tr { 
  border: 1px solid #ccc; 
  margin-top: 0vh;
  padding-bottom: 0vh;
}
  
 #res td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    line-height: 2;
    text-align: left
  }
  
 #res td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
   #res td:nth-of-type(1):before
    { 
    content: "AG PO#";  
    font-size:1.1em; 
    font-weight: 700; 
    text-align: left;
    padding-left: 8px;
  }
  #res td:nth-of-type(2):before { 
    content: "SINOBEC PO#"; 
    font-size:1.1em; 
    font-weight: 700; 
    text-align: left ;
    padding-left: 8px;
  }
  #res td:nth-of-type(3):before { 
    content: "INVOICE#"; 
    font-size:1.1em; 
    font-weight: 700; 
    text-align: left ;
    padding-left: 8px;
  }
  #res td:nth-of-type(4):before { 
    content: "SHIPPING Ref";  
    font-size:1.1em; 
    font-weight: 700; 
    text-align: left;
    padding-left: 8px;
  }
  #res td:nth-of-type(5):before { 
    content: "CONTAINER#"; 
    font-size:1.1em; 
    font-weight: 700;
    text-align: left ;
    padding-left: 8px;
  }
  #res td:nth-of-type(6):before { 
    content: "ETA";  
    font-size:1.1em; 
    font-weight: 700; 
    text-align: left;
    padding-left: 8px;
  }
}


@media screen and (max-width: 1198px) {
	#featuresection #readmore>h1, #readmore2>h1, #readmore3>h1, #readmore4>h1 {
	padding-top: 15px
}

}

